* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Kanit', sans-serif;
}

.navbar {
	background-image: linear-gradient(to bottom, #282A35 0%, #000 100%);
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 999;
}

.navbar_container {
	display: flex;
	justify-content: space-between;
	height: 80px;
	z-index: 1;
	width: 100%;
	max-width: 1500px;
	margin: 0 0;
	padding: 0 0;
}

#logo_image img {
    max-width: 46px;
    max-height: 46px;
    opacity: 100%;
    margin: 16px;
    margin-top: 18px;
    margin-right: 400px;
	filter: grayscale(1) invert(0.7);

}

#navbar_logo {
	margin-left: 76px;
	background-color: #bfbdbd;
	background-image: linear-gradient(to top, #6e6e6e 0%, #fff 100%);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	display: flex;
	align-items: center;
	cursor: help;
	text-decoration: none;
	font-size: 3rem;
	position: fixed;
}

#navbar_logo:hover {
	
	/*
	background: linear-gradient(to top, #282A35 0%, #bfbdbd 100%);
	*/
	background-image: linear-gradient(to top, #000 0%, #1a1a1a 100%);
	
	transition: color 1s ease, background-image 1s ease;
}

.fa-gem {
	margin-right: 0.5rem;
}

.navbar_menu {
	display: flex;
	align-items: center;
	list-style: none;
	text-align: center;
}

.navbar_item {
	height: 80px;
}

.navbar_links {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	padding: 0 1rem;
	height: 100%;
}

.navbar_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	padding: 0 0;
	width: 100%;
	text-decoration: none;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	padding: 5px 20px;
	height: 100%;
	width: 100px;
	outline: none;
	border-radius: 40px;
	background: #bfbdbd;
	/*
	background-image: linear-gradient(to top, #bfbdbd 0%, #fff 100%);
	*/
	background: linear-gradient(to top, #000 0%, #bfbdbd 100%);
	color: #000;
	text-decoration: none;
	border-style: solid;
	border-color: #1a1a1a;
	border-width: 4px;

}

.button:hover {
	color: #fff;
	/*
	background: linear-gradient(to top, #282A35 0%, #bfbdbd 100%);
	*/
	background: linear-gradient(to top, #000 0%, #1a1a1a 100%);
	transition: all 1s ease;
}

.navbar_links:hover {
	color: #282A35;

	transition: all 1s ease;
}

.body_container {
	display: block;
    position: relative;
    z-index: 3;
    max-height: 1080px;
    max-width: 1920px;
    color: #bfbdbd;
    /*
    background-color: rgb(50, 50, 50, 0.3);
    */
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.clouds {
  position:absolute;
  top:100px;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:transparent url(backgroundPng/stars.png) repeat top center;
  z-index:0;
}


.twinkling{
  background:transparent url(backgroundPng/twinkling.png) repeat top center;
  z-index:1;
  animation:move-twink-back 300s linear infinite;
}


.clouds{
    background:transparent url(backgroundPng/clouds2.png);
    z-index:2;
    opacity: .2;
    animation:move-clouds-back 250s linear infinite;
}




