* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Kanit', sans-serif;
}

/*----------navigation bar----------*/

.navbar {
	background-image: linear-gradient(to bottom, #282A35 0%, #000 100%);
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 999;
}

/*top navbar container*/
.navbar_container {
	display: flex;
	justify-content: space-between;
	height: 80px;
	z-index: 1;
	width: 100%;
	max-width: 1500px;
	margin: 0 0;
	padding: 0 0;
}

.navbarWhiteBar {
  height: 100px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  z-index: 99;
  top: 0;
}

/*logo image*/
#logo_image img {
    max-width: 46px;
    max-height: 46px;
    opacity: 100%;
    margin: 16px;
    margin-top: 18px;
    margin-right: 400px;
	filter: grayscale(1) invert(0.7);
}

/*logo name*/
#navbar_logo {
	margin-left: 76px;
	background-color: #bfbdbd;
	background-image: linear-gradient(to top, #6e6e6e 0%, #fff 100%);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	display: flex;
	align-items: center;
	cursor: help;
	text-decoration: none;
	font-size: 3rem;
	position: absolute;
}

/*name logo hover features*/
#navbar_logo:hover {
	background-image: linear-gradient(to top, #000 0%, #1a1a1a 100%);
	transition: color 1s ease, background-image 1s ease;
}

.fa-gem {
	margin-right: 0.5rem;
}

.navbar_menu {
	display: flex;
	align-items: center;
	list-style: none;
	text-align: center;
}

.navbar_item {
	height: 80px;
}

.navbar_links {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	padding: 0 1rem;
	height: 100%;
}

.navbar_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	padding: 0 0;
	width: 100%;
	text-decoration: none;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	padding: 5px 20px;
	height: 100%;
	width: 100px;
	outline: none;
	border-radius: 40px;
	background: #bfbdbd;
	background: linear-gradient(to top, #000 0%, #bfbdbd 100%);
	color: #000;
	text-decoration: none;
	border-style: solid;
	border-color: #1a1a1a;
	border-width: 4px;
	transition: all 1s ease;
	transition: color 1s ease;
}

.button2 {
	background: #fff;
	background: linear-gradient(to top, #E0115F 0%, #FCA3B7 100%);
	color: #fff;
	border-color: #E0115F;

}

.button:hover {
	color: #fff;
	background: linear-gradient(to top, #000 0%, #1a1a1a 100%);
}

.button2:hover {
	color: #E0115F;
	background: linear-gradient(to top, #F64A8A 0%, #fff 100%);;
}

.navbar_links:hover {
	color: #282A35;
	transition: all 5s ease;
}

.body_container {
	display: block;
    position: relative;
    z-index: 3;
    max-height: 1080px;
    max-width: 1920px;
    color: #bfbdbd;
    
}

/*----------navbar2----------*/

.navbar2 {
	background-image: linear-gradient(to bottom, #F64A8A 0%, #E0115F 100%);
}

/*----------background animation----------*/

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds{
	position:absolute;
	top:0px;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:3000px;
	display:block;
}

.clouds {
  position:absolute;
  top:200px;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:800px;
  display:block;
}

.stars {
	background:transparent url(backgroundPng/stars.png) repeat top center;
	z-index:0;
}


.twinkling{
	background:transparent url(backgroundPng/twinkling.png) repeat top center;
	z-index:1;
	animation:move-twink-back 300s linear infinite;
}


.clouds {
    background:transparent url(backgroundPng/clouds2.png);
    z-index:2;
    opacity: .2;
    animation:move-clouds-back 250s linear infinite;
}

/*----------cards----------*/

.card_container {
	justify-content: center;
	max-width: 1400px;
	border: 3px;
	padding: 0px 100px;
	display: flex;
	position: relative;
	margin: 0 auto;
}

.cardTitle h1 {
	font-size: 4rem;
	color: #fff;
	text-align: center;
	z-index: 99;
	position: relative;
	animation: color-change2 2s infinite;
}
.cardTitle h2 {
	font-size: 4rem;
	color: #000;
	text-align: center;
	z-index: 99;
	position: relative;
}
.cardTitle h3 {
	font-size: 2rem;
	color: #fff;
	text-align: center;
	z-index: 99;
	position: relative;
}

.cardTitle2 h1 {
	font-size: 8rem;
	animation: color-change3 2s infinite;
}

.card {
	border:1px;
	padding: 15px;
	border-radius: 20px 20px;
  	height:500px;
  	width:500px;
    background-size: cover;
    z-index: 99;
    float: center;
    margin: 30px auto;
    justify-content: center;
    transition: transform 0.2s ease-in-out;

}

.card:hover {
	transform: translateY(-20px);
}
.card1 {
	background-image: url(cardImages/weBall2.jpg);
}
.card2 {
	background-image: url(cardImages/weBall.jpg);
}
.card3 {
	background-image: url(cardImages/weParty1.jpg);
}
.card4 {
	background-image: url(cardImages/weParty2.jpg);
}

.card5 {
	background-image: url(cardImages/casperAngry.jpg);
}
.card5:hover {
	transform: scale(1.15);
}

.card6 {
	background-image: url(cardImages/fish1.jpg);
}
.card7 {
	background-image: url(cardImages/fish2.jpg);
}

.card8 {
	background-image: url(cardImages/ted1.jpg);
	height:625px;
  	width:500px;
		
}
.card9 {
	background-image: url(cardImages/ted2.jpg);
	height:625px;
  	width:500px;
}


/*----------singleCards----------*/

.singleCard_container {
	max-width: 1400px;
	border:5px;
	justify-content: center;
	padding: 0px 100px;
	display: flex;
	position: relative;
	margin: 0 auto;
}

.singleCard {
	border-radius: 20px 20px;
  	height:738px;
  	width:1100px;
    background-size: cover;
    z-index: 99;
    float: center;
    margin: 30px auto;
    justify-content: center;
    transition: transform 0.2s ease-in-out;


}

.singleCard:hover {
	transform: translateY(-20px);
}

.singleCard1 {
	background-image: url(cardImages/weChill1.jpg);
}
.singleCard1:hover {
	transform: scale(1.1);
}

/*----------footer----------*/
.footer {
	margin-top: 100px;
	font-size: 3rem;
	color: #fff;
	text-align: center;
	z-index: 99;
	position: relative;
	color: linear-gradient;
	color: #000;
}
.footer h5 {
	animation: color-change 2s infinite;
}

/*----------text color change----------*/
@keyframes color-change {
	0% {color: red;}
	50% {color: blue;}
	100% {color: red;}
}
@keyframes color-change2 {
	0% {color: #fff;}
	50% {color: #3d3d3d;}
	100% {color: #fff;}
}
@keyframes color-change3 {
	0% {color: #fff;}
	50% {color: #E0115F;}
	100% {color: #fff;}
}

/*----------wrapper background for cats page----------*/
.wrapper {
	animation: scroll 70s linear infinite;
	background-image: url(backgroundPng/pink.png);
	color: #eee;
  	height: 2000px;
  	width: 100%;
  	perspective: 1000px;
  	perspective-origin: 50% 50%;
}

@keyframes scroll {
  	100%{
    	background-position:0px -3000px;
  	}
}

@media (prefers-reduced-motion) {
  	.wrapper {
    	animation: scroll 200s linear infinite;
  	}
}

/*----------media query to make compatible with phone----------*/
@media (max-width: 1400px) {
	.card_container {
		float: none;
		justify-content: center;
		display: grid;
	}
	.card {
		height:700px;
  		width:700px;
		float: none;
	}
	.card8, .card9 {
		height:875px;
  		width:700px;
		float: none;
	}
	.singleCard {
		height:584px;
  		width:880px;
	}
	.cardTitle2 h1 {
		font-size: 10rem;
	}
	.wrapper {
		height: 3800px;
	}
	
}

/*
.card1 {
	margin: 10px auto;
	border:1px solid red;
	border-radius: 20px 20px;
  	height:400px;
  	width:600px;
  	background-image: url(casperWeb.JPEG);
    background-size: cover;
    z-index: 99;

    	float: left;
    display: flex;

    justify-content: center;
    position: relative;

    transition: transform 0.2s ease-in-out;


}

.card1:hover {
	cursor: pointer;
	transform: translateY(-20px);
	
	z-index: 99;
}

.card2 {
	margin: 10px auto;
	border:1px solid red;
	border-radius: 20px 20px;
  	height:400px;
  	width:600px;
  	background-image: url(casperWeb.JPEG);
    background-size: cover;
    z-index: 99;
    	overflow: hidden;


    display: flex;
    
    justify-content: center;
    position: relative;

    transition: transform 0.2s ease-in-out;


}

.card2:hover {
	cursor: pointer;
	transform: translateY(-20px);
	
	z-index: 99;
}


.card_inline li {
	margin: 100px 20px;
	display: inline;
	float: left;
	justify-content: center;
    position: relative;
}

.card_holder {
	z-index: 99;
	
	display: flex;

	justify-content: center;
	
    position: relative;
    margin: 50px auto;
    
    border: 3px solid green;
    

}

@media screen and (max-width: 1200px) {
   .card1 { 
    
    margin: 10px auto;
    	justify-content: center;
    	position: relative;
    border: 0;
    border-bottom:2px solid #000;    
    flex-direction: column;
    align-items:center;
  	}
    .card2 {
  		position: relative;
  		margin: 10px auto;
  		flex-direction: column;
  		align-items:center;
    }
  .card_holder {
  	 flex-direction: column;
  		align-items: center;
  		flex-grow: 1;
  }
}
*/



/*coooooooooooool*/




/*
align-items: center;
justify-content: center;


transform: translateY(-10px);
transition: all 0.5s ease-in-out;

position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translateX(-50%) translateY(-50%);


.card {
  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 40%;
	  border-radius: 20px 20px;
	  height: 500px;
	  width: 500px;
	  z-index: 99;
	  align-items: center;
	  margin: auto;
	  transition: all 500ms ease-in-out;
	  transition: transform 0.5s;
}


	width: 500px;
	height: 500px;
	display: inline-block;
	border-radius: 20px;
	padding: 15px 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;
	background-position: center;
	

	background-image: url(casperWeb.png);
	background-size: cover;




.card:hover {
	  cursor: pointer;
	  box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
	  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
	  transform: translateY(-10px);
	  z-index: 99;
}


.card1 img {
	  border-radius: 20px;
	  height: 500px;
	  width: 500px;
	  z-index: 99;
	  position: absolute;
}

.card_container {
	  padding: 2px 16px;
	  z-index: 99;
	  position: absolute;
}

.card_center {
	  margin: auto;
	  width: 60%;
	  border-radius: 20px;
	  border: 3px solid #73AD21;
	  padding: 10px;
	  z-index: 99;
}

.card1 {
	background-image: url(casperWeb.png);
	z-index: 99;

}
*/

